{% extends "base.html.jinja2" %}
{% block heading %}
    <h1 class="display-4">Speaker Similarity Test</h1>
    <p class="lead">Measuring whether two audios belong to the same person.</p>
    <hr class="my-4">
    <p>
        Thank you so much for participating in this test!
    </p>
    <p>
        In this test, we have computer-converted singing audios and real singing recordings.
        Each question has two audios. Please listen the two audios and answer the question based on the speaker similarity of the two audios (<b>Only consider the speaker similarity; Audio quality, content and pitch are not taken into account</b>).
        (在这个实验中，我们有机器生成的歌唱音频和真实的歌唱录音；每个问题下有2个音频，请判断2个音频的说话者相似度。<b>在此，我们仅考虑说话者相似度，不考虑音频的音质、内容和音高等其他信息。</b>)
    </p>
    <p>
        Options:
        <ul>
            <li>確定是同一個語者 (same, absolutely sure)</li>
            <li>不大確定，但傾向認為是同一個語者 (same, not sure)</li>
            <li>不大確定，但傾向認為是不同語者 (different, not sure)</li>
            <li>確定是不同語者 (different, absolutely sure)</li>
        </ul>
        <b> Please remember to click the "Submit" botton after finishing.</b>
        (<b>在结束之前，请点击 "Submit" 按钮。</b>)
    </p>
{% endblock %}
{% block form_questions %}
    {% for question in questions %}
        <div class="card form-group">
            <div class="card-header">{{ question.title }}</div>
            <div class="card-body">
                {% for audio_path in question.audio_paths %}
                    <p>
                        <audio controls src="{{ audio_path }}">
                            Your browser does not support the audio element.
                        </audio>
                    </p>
                {% endfor %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_1" value="1" required>
                    <label class="form-check-label" for="{{ question.name }}_1">確定是同一個語者 (same, absolutely sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_2" value="2" required>
                    <label class="form-check-label" for="{{ question.name }}_2">不大確定，但傾向認為是同一個語者 (same, not sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_3" value="3" required>
                    <label class="form-check-label" for="{{ question.name }}_3">不大確定，但傾向認為是不同語者 (different, not sure)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ question.name }}" id="{{ question.name }}_4" value="4" required>
                    <label class="form-check-label" for="{{ question.name }}_4">確定是不同語者 (different, absolutely sure)</label>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}